/*

    CURRENT RESPOND PIXEL SETTING

    1850px /* respond-desktop */ /*
    1328px /* respond-tablet */ /*
    1081px /* respond-phone */ /*
    480px /* respond-xs */ /*

    to change, use CTRL+SHIFT+R and search for regex: (\d+)px /\* respond-INPUTHERE \*/ 

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        color: var(--text-primary);
    }
    
    a, li {
        display: inline-block;
        margin-bottom: 0;
    }
    
    .important {
        z-index: 999;
        position: relative;
    }
    
    *:not(.important) {
        z-index: 0;
        position: relative;
    }
    
    a, button, span, p, em, b, ul, li, h1, h2, h3, h4, h5, h6 {
        list-style: none;
        letter-spacing: var(--text-spacing-letter);
        margin-bottom: var(--text-spacing-line);
        font-family:'04b03', 'Noto Sans CJK', 'Noto Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
    
    a, button {
        color: var(--text-primary);
        text-decoration: none;
        cursor: pointer;
    }
    
    [class*=line] {
        margin-bottom: var(--text-spacing-line);
    }
    
    .flip *, .flip i::before, .flip a, .flip button, .flip span, .flip p, .flip em, .flip b, .flip ul, .flip li, .flip h1, .flip h2, .flip h3, .flip h4, .flip h5, .flip h6 {
        color: var(--text-secondary);
    }
    
    strong {
        color: var(--text-em);
    }
    
    .flip strong {
        color: var(--text-em-secondary);
    }
    
    c {
        color: var(--text-c);
    }
    
    .flip c {
        color: var(--text-c-secondary);
    }
    
    .paragraph {
        margin-bottom: var(--text-spacing-paragraph);
    }
    
    .noscroll {
        user-select: none;
        cursor: default;
    }
    
    i {
        width: 100%;
        height: 100%;
        position: relative;
    }
    
    :root {
        scroll-behavior: smooth;
        --header-max: 1850px;
        /** theme: dev **/
        --bg-primary: white;
        --bg-secondary: #242729;
        --text-primary: black;
        --text-secondary: white;
        --text-em: black;
        --text-c: #666;
        --text-em-secondary: orange;
        --text-c-secondary: #999;
        --text-spacing-letter: 0;
        --text-spacing-word: 0;
        --text-spacing-line: 4px;
        --text-spacing-paragraph: 16px;
        background-color: var(--bg-primary);
        --button-height: 40px;
    }
    
    .main {
        width: 100%;
        height: 100%;
        min-height: 100vh;
    }
    
    [class*=list] {
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: stretch;
    }
    
    .vlist {
        flex-direction: column;
    }
    
    .hlist > div, .vlist > div { /* for ie compat, used to be [class$=list] > div */
        flex: 1 0 auto;
    }
    
    [class*=stretch] {
        align-self: stretch;
    }
    
    .spacer, .header-spacer, .footer-spacer {
        -ms-flex: 999 1 auto !important;
        flex: 999 0 auto !important;
    }
/*     
    header, footer, navbar {
        border-top: 1px var(--text-c) solid;
        border-bottom: 1px var(--text-c) solid;
        background-color: var(--bg-primary);
    }
    
    header.flip, footer.flip, navbar.flip {
        border: none;
        background-color: var(--bg-secondary);
    }
     */
    .left {
        float: left;
        left: 0;
        text-align: left;
        margin: 0;
    }
    
    .right {
        float: right;
        right: 0;
        text-align: right;
        margin: 0;
    }
    
    .center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .top {
        top: 0;
    }
    
    .bottom {
        bottom: 0;
    }
    
    .middle {
        margin-top: auto;
        margin-bottom: auto;
    }
    
    .most {
        position: absolute;
    }
    
    .circle, .circle i {
        border-radius: 50%;
    }
    
    .box, .box i {
        border-radius: 5%;
    }
    
    .inline > * {
        display: inline-block;
    }
    
    /*TODO: DO THIS BUT IN CSS??? IS THIS EVEN POSSIBLE
    .height-rounded, .height-rounded i {
        border-radius: 50% of height;
    }
    **/